# PostgreSQL
POSTGRES_USER=kutahyalilar
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# JWT
JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Auth Service DB
AUTH_DB_NAME=auth_db

# User Service DB
USER_DB_NAME=user_db

# Trip Service DB
TRIP_DB_NAME=trip_db

# Booking Service DB
BOOKING_DB_NAME=booking_db

# Payment Service DB
PAYMENT_DB_NAME=payment_db

# Notification (SMTP mock)
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=no-reply@kutahyalilar.com
